<!DOCTYPE html>
<html lang="en">
<head>
    <title>Home - Contactos</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.22/css/dataTables.bootstrap4.min.css">
    <script src="https://cdn.datatables.net/1.10.22/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.22/js/dataTables.bootstrap4.min.js"></script>
</head>
<body>
<div class="container" style="width:40%";>
    <br/>
    <h2>Contactos</h2>
    <table class="table table-striped table-bordered" id="sortTable">
        <thead>
        <tr>
            <th>name</th>
            <th>age</th>
            <th>nickname</th>
            <th>phone</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>Jerald</td>
            <td>20</td>
            <td>Jerry</td>
            <td>6621233214</td>
        </tr>
        <tr>
            <td>Lessie</td>
            <td>24</td>
            <td>Le Z</td>
            <td>8781233214</td>
        </tr>
        <tr>
            <td>Julian</td>
            <td>34</td>
            <td>Julito</td>
            <td>6621783214</td>
        </tr>
        <tr>
            <td>Jennifer</td>
            <td>26</td>
            <td>Jeni</td>
            <td>6451233214</td>
        </tr>
        <tr>
            <td>Cassandra</td>
            <td>23</td>
            <td>Casi</td>
            <td>6660033214</td>
        </tr>
        <tr>
            <td>Nikki</td>
            <td>30</td>
            <td>Nika</td>
            <td>2734567410</td>
        </tr>
        <tr>
            <td>Joseph</td>
            <td>35</td>
            <td>Josi</td>
            <td>3211233214</td>
        </tr>
        <tr>
            <td>Casey</td>
            <td>24</td>
            <td>Keisi</td>
            <td>6621233214</td>
        </tr>
        <tr>
            <td>Frederic</td>
            <td>39</td>
            <td>Chopin</td>
            <td>4812816547</td>
        </tr>
        <tr>
            <td>Adam</td>
            <td>56</td>
            <td>Sandler</td>
            <td>3321233214</td>
        </tr>

        <!--20-->
        <tr>
            <td>Edgar</td>
            <td>56</td>
            <td>Allan</td>
            <td>6660001234</td>
        </tr>
        <tr>
            <td>Chandra</td>
            <td>41</td>
            <td>Bendrum</td>
            <td>0769514567</td>
        </tr>
        <tr>
            <td>Jillian</td>
            <td>36</td>
            <td>Lennon</td>
            <td>1960198012</td>
        </tr>
        <tr>
            <td>Donnie</td>
            <td>25</td>
            <td>Locon</td>
            <td>9786543210</td>
        </tr>
        <tr>
            <td>Tonya</td>
            <td>34</td>
            <td>Yan</td>
            <td>1478523698</td>
        </tr>
        <tr>
            <td>Marshall</td>
            <td>42</td>
            <td>Mothers M&M</td>
            <td>6163134145</td>
        </tr>
        <tr>
            <td>Patti</td>
            <td>26</td>
            <td>Chapoi</td>
            <td>5551234567</td>
        </tr>
        <tr>
            <td>Pansy</td>
            <td>63</td>
            <td>Menudo</td>
            <td>951753654</td>
        </tr>
        <tr>
            <td>Florencio</td>
            <td>45</td>
            <td>Rossini</td>
            <td>9713842655</td>
        </tr>
        <tr>
            <td>Grace</td>
            <td>34</td>
            <td>Wong</td>
            <td>114316547</td>
        </tr>
        <tr>
            <td>Wendy</td>
            <td>14</td>
            <td>Pan</td>
            <td>3335556669</td>
        </tr>
        <tr>
            <td>Jose</td>
            <td>54</td>
            <td>PP</td>
            <td>1237418521</td>
        </tr>
        <tr>
            <td>Roslyn</td>
            <td>24</td>
            <td>Rossie</td>
            <td>66645214521</td>
        </tr>
        <tr>
            <td>Bette</td>
            <td>34</td>
            <td>Davies</td>
            <td>1980199012</td>
        </tr>
        <tr>
            <td>Deshawn</td>
            <td>35</td>
            <td>Dequien</td>
            <td>444465236526</td>
        </tr>
        <tr>
            <td>Sue</td>
            <td>36</td>
            <td>Yu</td>
            <td>6625553214</td>
        </tr>
        <tr>
            <td>Gordon</td>
            <td>55</td>
            <td>Ramsay</td>
            <td>9981241456</td>
        </tr>
        <tr>
            <td>Tessa</td>
            <td>34</td>
            <td>Coelojo</td>
            <td>8586498745</td>
        </tr>
        <tr>
            <td>Nicolas</td>
            <td>56</td>
            <td>Cage</td>
            <td>9781233214</td>
        </tr>
        <tr>
            <td>Whitney</td>
            <td>57</td>
            <td>Houston</td>
            <td>6664874596</td>
        </tr>
        <tr>
            <td>Freeman</td>
            <td>67</td>
            <td>Morgan</td>
            <td>6621238569</td>
        </tr>
        <tr>
            <td>Lily</td>
            <td>34</td>
            <td>Potter</td>
            <td>66645218569</td>
        </tr>
        <tr>
            <td>Bradly</td>
            <td>25</td>
            <td>Cooper</td>
            <td>1169854521</td>
        </tr>
        <tr>
            <td>Jamison</td>
            <td>25</td>
            <td>Jimi</td>
            <td>2227854236</td>
        </tr>
        <tr>
            <td>Tommie</td>
            <td>80</td>
            <td>Jerry</td>
            <td>6623336985</td>
        </tr>
        <tr>
            <td>Horace</td>
            <td>66</td>
            <td>Slughorn</td>
            <td>6664561100</td>
        </tr>
        <tr>
            <td>Brad</td>
            <td>44</td>
            <td>Pit</td>
            <td>4441230000</td>
        </tr>
        <tr>
            <td>Nannie</td>
            <td>27</td>
            <td>Ela</td>
            <td>6454682100</td>
        </tr>
        <tr>
            <td>Colby</td>
            <td>25</td>
            <td>Bill</td>
            <td>1012213654</td>
        </tr>
        <tr>
            <td>Eleanor</td>
            <td>67</td>
            <td>Mustang</td>
            <td>6060606060</td>
        </tr>
        <tr>
            <td>Noah</td>
            <td>80</td>
            <td>Priest</td>
            <td>1440001234</td>
        </tr>
        <tr>
            <td>Kate</td>
            <td>29</td>
            <td>Nash</td>
            <td>5441234100</td>
        </tr>
        <tr>
            <td>Dexter</td>
            <td>25</td>
            <td>Laboratory</td>
            <td>6164561000</td>
        </tr>
        <tr>
            <td>Prince</td>
            <td>34</td>
            <td>Royce</td>
            <td>1112330214</td>
        </tr>
        <tr>
            <td>Jay</td>
            <td>30</td>
            <td>J</td>
            <td>5553339645</td>
        </tr>
        <tr>
            <td>Earle</td>
            <td>54</td>
            <td>Bag</td>
            <td>6660001234</td>
        </tr>
        <tr>
            <td>Maksim</td>
            <td>34</td>
            <td>Yakubets</td>
            <td>7453405990</td>
        </tr>
        <tr>
            <td>Philip</td>
            <td>67</td>
            <td>Pilas</td>
            <td>0001112224</td>
        </tr>
        <tr>
            <td>Audra</td>
            <td>29</td>
            <td>Markovna</td>
            <td>7453335584</td>
        </tr>
        <tr>
            <td>Alan</td>
            <td>50</td>
            <td>Parson</td>
            <td>7778889994</td>
        </tr>
        </tbody>
    </table>
</div>
<script>
$('#sortTable').DataTable();
</script>
</body>
</html>